<div class="row">
    <section id="profile" class="col-xs-12">
        <h2>Mon profile : </h2>
        <div class="spacing-top"></div>
        <a href="{{ path('fos_user_profile_edit') }}" class="spacing"><button class="btn btn-default">Editer profile</button></a>
        <div class="spacing-bottom"></div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
                {#{% if user.blaze != null %}
                    <p>Nom d'artiste : {{ user.blaze }}</p>
                {% endif %}#}
                {% if user.biography is defined %}
                    <h4>Biographie :</h4> {{ user.biography|raw }}
                {% endif %}
            </div>

        </div>

    </section>
    {% if isAdmin is defined %}
    <section id="post" class="post col-xs-12">
        <h2>Les Actualités :</h2>
        <div class="spacing-top"></div>
        <a href="{{ path('post_create') }}"><button class="btn btn-default">Créer une nouvelle actualité</button></a>
        <div class="spacing-bottom"></div>
        <div class="row">
            <table class="records_list col-sm-offset-1">
                <thead>
                <tr class="text-center">
                    <th>Title<div class="spacing-bottom"></div></th>
                    <th>Text<div class="spacing-bottom"></div></th>
                    <th>Createdat<div class="spacing-bottom"></div></th>
                    <th>Actions<div class="spacing-bottom"></div></th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts|slice(0,5) %}
                    <tr>
                        <td>{{ post.title|truncate(15) }}</td>
                        <td>{{ post.text|raw|truncate(40) }}</td>
                        <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <div class="btn-group-xs">
                                    <a href="{{ path('post_show', { 'id': post.id }) }}"><button class="btn btn-default">visualiser</button></a>
                                    <a href="{{ path('post_update', { 'id': post.id }) }}"><button class="btn btn-primary">Editer</button></a>
                             </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="spacing-top"></div>
        <a href="{{ path('post') }}">Toutes les actualités ...</a>
    </section>
    <section id="duJour" class="col-xs-12">
        <h2>Artiste et Oeuvre du jour</h2>
        <div class="row col-sm-offset-1">
            <h3>Artiste et du jour</h3>
            <div class="spacing-top"></div>
            {# Affiche le nom des artistes dans une listeBox #}
            <a href="{{ path('artisteDuJour') }}">
                <button>Artistes</button>
            </a>
            <div class="spacing-bottom"></div>
            <h3>Oeuvre du Jour</h3>
            <p>Choisir l'oeuvre du jour : </p>
            {# Affiche le nom de l'oeuvre et le nom de l'artiste #}
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                            {% for picture in pictures %}
                                {% if picture.exposable == true %}<option>{{ picture.name }} -- {% for artiste in users %}{% if picture.user.id == artiste.id %}{{ artiste.username|capitalize }}{% endif %}{% endfor %}</option>{% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% endif %}
    <setion id="gallery" class="col-xs-12">
        <h2>Gallerie</h2>
        <a href=""><button class="btn btn-default">Ajouter une image</button></a>
        <a href=""><button class="btn btn-default">Ajouter une dossier</button></a>
    </setion>
</div>