<footer>
    <div class="row footer">
        <div class="center-block text-center">
            <h4 class="text-center">{{ 'website'|upper }}</h4>
            <a href="#">
                <div class="logo-footer center-block"></div>
            </a>
            <div class="center-block icone-social-footer">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <span class="icone-fb-footer"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icone-t-footer"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icone-insta-footer"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tousdroitreserves">
                <h6 class="text-center">&copy; New Art Expo 2012 Tous droits réservés</h6>
            </div>
        </div>
    </div>
    <script>
        alert('Veuillez nous excuser de la gêne occasionnée, le site que vous visionner est actuellement un Bêta test')
    </script>
    <script src="{{ asset('bundles/admin/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/bootstrap.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/hover.zoom.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/hover.zoom.conf.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/jquery.superslides.min.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/modernizr.custom.js')}}"></script>
    <script src="{{ asset('bundles/admin/js/toggle-nav.js')}}"></script>
    <script>$('#myTab a[href="#connexion"]').tab('show')</script>
    <script>$('#myTab a[href="#inscription"]').tab('show')</script>
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
    <script src="{{ asset('bundles/naeplateform/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/classie.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/cbpGridGallery.js') }}"></script>
    <script>
        new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
    <script src="{{ asset('bundles/naeplateform/js/masonry.pkgd.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/main.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/classie.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/modalEffects.js') }}"></script>
</footer>

</body>
</html>

