{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="container">
        <h1>Nom de l'actualité : {{ entity.title }}</h1>
        <p>Actualité créer le : <date>{{ entity.createdAt|date('Y-m-d') }}</date></p>
        <p>Contenu : </p>
        <div class="spacing-bottom"></div>
        <p>{{ entity.text|raw }}</p>
        <div class="btn-group">
            <a href="{{ path('fos_user_profile_show') }}">
                <button class="btn btn-default">
                    Retour à la page profile
                </button>
            </a>
            <a href="{{ path('post_update', { 'id': entity.id }) }}">
                <button class="btn btn-primary">
                    Editer Actualiter
                </button>
            </a>
        </div>
        {{ form(delete_form) }}
    </div>
{% endblock %}
